html {
  box-sizing: border-box;
  height: 100%;
  font-family: $graphik;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: $black-main;
  background-color: $blue-main;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.z-hidden:not(:active) {
  display: none;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@include tablet-layout {
  .container {
    min-width: 928px;
    padding: 0 48px;
  }
}

@include desktop-start {
  .container {
    min-width: 1296px;
    max-width: 1296px;
  }
}
